/Tugas/StudyKasus2/StudyKasus2/nbproject/private/
/Tugas/StudyKasus2/StudyKasus2/build/
/Latihan/Sesi11/nbproject/private/
/Latihan/Sesi11/build/
/Latihan/sesi12_PdfReporting/nbproject/private/
/Latihan/sesi12_PdfReporting/build/
/Latihan/Sesi13_Konkurensi/nbproject/private/
/Latihan/Sesi13_Konkurensi/build/
/Latihan/LatihanTUBES/nbproject/private/
/Latihan/Latihan3_konkurensi_sesi13/nbproject/private/
/Latihan/Latihan3_konkurensi_sesi13/build/
